*{
	margin:0px;
	padding:0px;
}

.bgimage{
	background-image: url('intro3.jpg');
	background-size: 100% 110%;
  background-attachment: fixed;
  background-attachment: scroll;
	width: 100%;
	height: 100vh;
}

.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}

 .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 100px;
}




.dropdown-content {
  display: none;
  position: absolute;
   background-color:rgb(0,0,0,0.4);
  min-width: 200px;
  min-height: 120px;
  width:100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}



.dropdown-content a:hover { background-color: black;
  color: #EEA200;
  }

.dropdown:hover .dropdown-content {
  display: block;
}
.leftmenu{
	width: 20%;
	line-height: 100px;
  color:red;
	float: left;
  margin-top: 36px;
/*	background-color: yellow;*/
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'forte', sans-serif;
	text-shadow:8px 8px 10px blue;
	webkit-text-decoration-line: overline underline; /* Safari */
   text-decoration-line: overline underline; 
}


.rightmenu{
	width:70%;
	height: 100px;
	float: right;
/*	background-color: red; */
}

.rightmenu ul{
	margin-left: 200px;
}
a:link,a:visited{
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 50px;
  margin-left: 30px;
	text-transform: uppercase;

}
a:hover,a:active{

background-color: black;
   border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 2px 0px;
color: #EEA200;

}

.section{
  margin-top: 109px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 50px;
	text-transform: uppercase;
	

	

}

#fisrtlist{
	color: orange;
}


  


}
.rightmenu ul li:hover{
	color: orange;
}


.text{
	width: 100%;
	margin-top: 120px;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.text h4{

	font-size: 14px;
	font-family: 'forte', sans-serif;

}

.text h1{
	font-size:65px;
	font-family: 'forte', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
	text-shadow:8px 8px 10px blue;
	webkit-text-decoration-line: overline underline; /* Safari */
   text-decoration-line: overline underline; 
}

.text h3{
	font-size: 35px;
  text-transform: capitalize;
	font-family: 'forte', sans-serif;
	text-shadow:5px 5px 5px red;
}

.text h5{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	/*position:relative;
  left: 30px;
  margin-right: 1500px;
margin-left: 100px;
}*/
}

#buttonone{
	background-color: white;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	border: 3px solid white;
}

#buttontwo{

	background-color: transparent;
	border: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	border: 3px solid white;
	width: 150px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 0px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

	 